%h2.center 商品一覧
.products
  .row
    - @products.each do |product|
      .col.s12.m6
        .card
          .card-image
            = image_tag(product.image.url || "sample.jpg")
            %span.card-title
              #{product.name}（#{product.display_price}）
          .card-content
            %p
            = product.description
            %p
            = link_to("詳細を見る",product)
