!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EcSite
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    %nav
      .nav-wrapper
        %ul#nav-mobile.right.hide-on-med-and-down
          - if current_user.present?
            %li
              = link_to 'ログアウト', destroy_user_session_path, method: :delete
          - elsif current_admin.present?
            %li
              = link_to 'ログアウト（アドミン）', destroy_admin_session_path, method: :delete
    = yield
